* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
body{
	background-image: url(/bilder/garrett-sears-T57t6ZUT2Kc-unsplash.jpg);
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;

}
.div{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header1{
	text-align: center;
	font-size: 50px;
	margin: 2rem;
	color: white;
}
.header2{
	margin: 1rem;
	padding: 1.5rem;
	color: white;

}
.link1{
	text-decoration: none;
	color: blue;
	margin-left: 5rem;
	font-size: 25px;
	margin-top: 2rem;
}
.link1:hover{
	color: red;
}

.picture{
	margin: 3rem;
	padding: 1rem;
	border: 3px solid black;
	width: 300px;
	display: flex;
}
.text1{
	color: white;
	display: flex;
	margin: 2rem;
	font-size: 25px;
}

.text2{
	font-size:20px;
	margin: 1rem;
	padding: 1.5rem;
	display: flex;
	color: white;

}

.footer{
	font-size: 20px;
	text-align: center;
	color: white;
	margin: 2rem;
}
